* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #f39c12, #8e44ad); /* Colorful gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Shadow for a polished look */
    width: 350px;
    color: #333; /* Text color */
    transition: transform 0.2s;
}

.container:hover {
    transform: scale(1.05); /* Slight zoom on hover */
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #8e44ad;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #34495e;
}

input, select {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #8e44ad;
    border-radius: 8px;
    background-color: #f4f6f7;
    font-size: 1rem;
    color: #34495e;
}

input::placeholder {
    color: #999;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 48%;
    transition: background-color 0.3s ease;
}

.submit-button {
    background-color: #28a745;
    color: white;
}

.submit-button:hover {
    background-color: #218838;
}

.reset-button {
    background-color: #dc3545;
    color: white;
}

.reset-button:hover {
    background-color: #c82333;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #2c3e50;
}



